
# Straight.el - ignore everthing except the lockfiles
straight/*
!straight/versions

auto-save-list
*.elc

/bookmarks
/devdocs
/elgrep-data.el
/eln-cache
/elpa/
/eshell/history
/eshell/lastdir
/history
/org-persist
/projects
/transient
/tree-sitter
/url
/tramp
/debug-adapters/
/.org-roam.db
/.org-id-locations
/recentf
/custom.el
