
# Straight.el - ignore everthing except the lockfiles
straight/*
!straight/versions

auto-save-list
*.elc

/bookmarks
/elgrep-data.el
/eln-cache
/elpa/
/eshell/history
/eshell/lastdir
/history
/projects
/transient
/tree-sitter
/url